.gridCanvas {
    padding: 5% 2% 5% 2%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.gridBox {
    background-color: lightgreen;
    margin: 2px 2px 2px 2px;
    width:  10px;
    height: 10px;
}
